body {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  border-radius: 10px;
  margin: 10px;
  padding: 3px 0;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items {
  border-radius: 5px;
  padding: 10px;
  width: 15%;
  margin: 10px;
  min-width: 230px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .6);
}

a {
  text-decoration: none;
}

.items img {
  width: 100%;
  min-height: 70%;
}

.chartName {
  text-align: center;
}

.chartName:hover {
  color: blue;
}

